<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp microservice</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Timestamp microservice</h1>
    <div id="wrapper">
        <h3>How to use?</h3>
        <p>Call <code>/api/[yourdate]</code> and the server will respond with a json object containing the unix and the utc date, simple as that! Any input will be considered to be on UTC time.</p>
        <p>You may also call <code>/api/</code> and you'll get the current date with the same informations.</p>
    </div>
    <footer>
        <p>coded by <a href="https://github.com/L-a-r-t" target="_blank">Théo Lartigau</a></p>
    </footer>
</body>
</html>