@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#wrapper {
    width: max(50%, 400px);
}

code {
    background-color: rgb(200,200,200);
    padding: 3px;
    border: 1px solid gray;
}

footer {
    position: absolute;
    bottom: 0;
}

a {
    color: black;
}

#form-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 1rem;
    border: 2px solid black;
}

#form-wrapper > input {
    margin-left: 0.5rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
}